<h1>USocial</h1>

<button type="button" id="loginBtn" class="btn btn-primary">Login</button>
<button type="button" id="registerBtn" class="btn btn-primary">Register</button>

<div class="modal" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST">
          <label for="Username">Username: </label>
          <input type="text" name="Username" id="Username"/>

          <label for="First_name">First name: </label>
          <input type="text" name="Firstname" id="First_name">

          <label for="Last_name">Last name: </label>
          <input type="text" name="LastName" id="Last_name">

          <label for="Birthday">Birthday: </label>
          <input type="text" name="Birthday" id="Birthday">

          <label for="University">University: </label>
          <input type="text" name="University" id="University">

          <label for="Email">Email: </label>
          <input type="text" name="Email" id="Email">

          <label for="Phone_number">Phone number: </label>
          <input type="text" name="Phone_number" id="Phone_number">

          <label for="Gender">Gender: </label>
          <input type="text" name="Gender" id="Gender">

          <label for="Major">Major: </label>
          <input type="text" name="Major" id="Major">
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="registerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST">
          <label for="Username">Username: </label>
          <input type="text" name="Username" id="Username"/>

          <label for="First_name">First name: </label>
          <input type="text" name="Firstname" id="First_name">

          <label for="Last_name">Last name: </label>
          <input type="text" name="LastName" id="Last_name">

          <label for="Birthday">Birthday: </label>
          <input type="text" name="Birthday" id="Birthday">

          <label for="University">University: </label>
          <input type="text" name="University" id="University">

          <label for="Email">Email: </label>
          <input type="text" name="Email" id="Email">

          <label for="Phone_number">Phone number: </label>
          <input type="text" name="Phone_number" id="Phone_number">

          <label for="Gender">Gender: </label>
          <input type="text" name="Gender" id="Gender">

          <label for="Major">Major: </label>
          <input type="text" name="Major" id="Major">
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">register</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
   $('#loginBtn').on('click', function(evt){
      evt.preventDefault();
      $('#loginModal').modal('show');
   });
   $('#registerBtn').on('click', function(evt){
      evt.preventDefault();
      $('#registerModal').modal('show');
   });
</script>
