#title_container{
  flex-direction: row;
  justify-content: flex-end;
}

#front_page_title {
   font-size: 70px;
   color: #82529d;
   font-family: Georgia;
}

#logo{
  height: 170px;
  width: auto;
}

.front_page {
  background-image: url("/images/homepagetoppicture.png");
  background-size: cover;
  width: 100%;
  height: 430px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btns {
  float: right;
  margin: 10px;
}
